<html>
    <head>
        <title>Login</title>
        <script src="Login.js"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Account Login</h1>
            <form class="login-form" id="login-form">
                <input type="text" id="login-username" placeholder="Username" class="login-input">
                <input type="password" id="login-password" placeholder="Password" class="login-input">
                <input type="submit" value="Login" class="submit">
            </form>
        </div>
        <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-firestore.js"></script>
    </body>
</html>